bs4
motor
ffmpeg
Pyrogram
TgCrypto
aiofiles
requests
dnspython
python-arq
yt-dlp==2022.04.08
ffmpeg-python
youtube_search
fake_useragent>=0.1.11
youtube-search-python
ffmpeg-normalize
ytmusicapi
spotdl
rapidfuzz
wget
pillow
hachoir
shazamio==0.0.2
pyromod
music_tag
