bs4
motor
ffmpeg
Pyrogram
TgCrypto
aiofiles
requests
yt-dlp==2022.04.08
youtube_search
fake_useragent>=0.1.11
youtube-search-python
ytmusicapi
spotdl
rapidfuzz
wget
pillow
hachoir
dnspython
shazamio==0.0.2
